.lgd-teaser--waste-disposal-option.node {
  margin-bottom: 2em;
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
}


.view-disposal-options .view-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.view-disposal-options .view-content h3 {
  flex: 0 0 100%;
}

.view-disposal-options .view-content .views-row {
  flex: 0 1 30%;
}

.term-environmental-rating h2 {
  display: none;
}

.paragraph--type--waste-search .views-exposed-form .description {
  display: none;
}
.paragraph--type--waste-search .views-exposed-form form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
}
.paragraph--type--waste-search .views-exposed-form form .form-item {
  margin-bottom: 0;
}
.paragraph--type--waste-search .views-exposed-form form .form-submit {
  border: 2px solid black;
}

.view-disposal-options .view-id-waste_item .view-content {
  display: block;
}
