.banner--primary {
  background-color: var(--color-accent);
}

.banner--primary .banner__content {
  grid-template-columns: 1fr;
  gap: var(--spacing-largest);
  max-width: none;
  margin: 0;
  padding: 0;
  padding-block: var(--spacing-largest);
  background-color: transparent;
}

.banner--primary .banner__content * {
  grid-column: initial;
}

@media screen and (min-width: 768px) {
  .banner--primary .banner__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.banner--primary .banner__image {
  order: -1;
}

@media screen and (min-width: 768px) {
  .banner--primary .banner__image {
    order: 1;
  }
}

.banner--primary .banner__image img {
  border-radius: var(--border-radius);
}

.banner--primary .banner__content-inner {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .banner--primary .banner__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.banner--primary .banner__content .field--name-localgov-title {
  font-weight: bold;
  line-height: var(--line-height-small);
}

.banner--primary .field--name-field-banner-text > *:last-of-type {
  margin-block-end: 0;
}

.banner--primary .field--name-field-banner-call-to-action > a {
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-large);
  background-color: var(--color-accent-2);
  color: var(--color-accent-2-contrast);
  text-decoration: none;
  &:hover {
    color: var(--color-accent-2);
    background-color: var(--color-accent-2-contrast);
    text-decoration: underline;
  }
}

/* Overrides for specific 'Banner theme' field */
.banner--primary.banner--theme-2 {
  background-color: var(--color-accent-2);
}
.banner--primary.banner--theme-2 .field--name-field-banner-call-to-action > a {
  background-color: var(--color-accent);
}
.banner--primary.banner--theme-2 .field--name-field-banner-call-to-action > a:hover {
  color: var(--color-white);
}
