.region-breadcrumb {
  border-top: var(--border-large);
  border-color: var(--color-accent);
  background-color: var(--page-background-color);
}

.breadcrumbs {
  border-bottom: 0;
  padding-block: var(--spacing-large);
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--color-accent);
  &:hover {
    text-decoration: underline;
  }
}

/*
  Hide the breadcrumbs region on pages which have banners.
  Hopefully these are all top level, landing pages.
*/
.region-breadcrumb:has(~ .main .banner) {
  display: none;
}