.lgd-teaser__content--localgov-directories-venue {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.full--localgov-directories-venue .field--name-field-directory-channel-logo {
  margin-bottom: 2em;
}
