.microsite-footer {
  margin-block-start: var(--spacing-largest);
  padding-block-start: var(--spacing-largest);
  background-color: var(--footer-background-color);
}

.microsite-footer .microsite-footer__logo {
  max-width: 300px;
  margin-left: auto;
}

.microsite-footer__logos > .field__items {
  margin-block: var(--spacing-larger);
}

.microsite-footer__top {
  margin-bottom: var(--spacing-largest);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .microsite-footer__top {
    justify-content: space-between;
  }
}

.lgd-row--microsites-footer-1 {
  margin-bottom: var(--spacing-largest);
}

.microsite-footer__text-block--1 {
  font-size: var(--font-size-h1);
  font-weight: var(--heading-1-font-weight);
  line-height: var(--line-height-small);
  margin-top: 0;
}

.microsite-footer__text-block--2 ul {
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
}

.microsite-footer__text-block--2 li + li {
  margin-block-start: var(--spacing);
}

@media screen and (max-width: 768px) {
  .microsite-footer__socials {
    margin-top: var(--spacing-largest);
  }
}

.microsite-footer__socials ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.microsite-footer__socials svg {
  transition: var(--transition-time);
}

.microsite-footer__socials svg path {
  fill: var(--color-white);
}

.microsite-footer__socials a:focus svg path,
.microsite-footer__socials a:hover svg path {
  fill: var(--color-accent-2);
}
.microsite-footer__socials a:focus svg,
.microsite-footer__socials a:hover svg {
  transform: scale(1.2);
}

.microsite-footer__housekeeping ul:not(.contextual-links) {
  margin-bottom: var(--spacing);
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .lgd-row--microsites-footer-2 {
    justify-content: space-between;
  }
}

.lgd-row--microsites-footer-2 {
  align-items: end;
}

.region-footer-menu > .padding-horizontal {
  padding-left: 0;
}

.microsite-footer__powered_by {
  justify-content: start;
}

.field--name-lgms-footer-copyright-notice p {
  margin-bottom: 0;
}
.microsite-footer__copyright {
  justify-content: right;
}
