.path-frontpage .field--name-localgov-paragraph-content .field__item:first-child .lgd-page-section {
  background-color: var(--color-tan);
  padding-top: var(--spacing-largest);
  padding-bottom: var(--spacing-largest);
}
.path-frontpage .full__banner {
  margin-bottom: 0;
}

.path-frontpage h2.full__title {
  margin: 0;
}

.path-frontpage .block-views-exposed-filter-blockdisposal-options-page-disposal-search h2 {
  display: none;
}

.path-frontpage .block-views-exposed-filter-blockdisposal-options-page-disposal-search .waste-search-paragraph-title {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
