.full .lgd-container.padding-horizontal .field--name-localgov-page-summary {
  max-width: none;
}

.full h2.full__title {
  font-size: var(--font-size-h1);
}

article p > a ,
article .full__layout-section ul > li > a,
article .full__content ul > li > a {
  color: var(--color-text-link);
}
