#edit-did-you-find-what-you-needed {
  display: flex;
  justify-content: space-evenly;
}

#edit-how-easy-did-you-find-it-to-use-our-website {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2em;
  .form-item {
    position: relative;
    .description {
      position: absolute;
      width: max-content;
      left: -50%;
      border: none;
      background: none;
    }
  }
}

.form-item-is-there-anything-else-you-would-like-to-tell-us .description {
  border: none;
  background: none;
}
